*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html{
  font-size: 62.5%;
}
.app{
  width: 100vw;
  height: 100vh;
  background-color: #AFC9DC;
}
.heading{
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 4rem;
  background: linear-gradient(to right , #f32170,  #ff6b08, #1b5e20, #eedd44);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  font-size: 4rem;
}
.main{
  display: flex;
  align-items: center;
  justify-content: center;
}
.form{
  margin-top: 1rem;
  width: 50%;
  height: 40rem;
  background-color: white;
  border-radius: 1.5rem;
}
.bar{
  display: flex;
  align-items: center;
  justify-content: center;
}
.progressbar{
  height: 1rem;
  margin-top: 2rem;
  width: 50%;
  border-radius: 0.5rem;
  background-color: #cadeec;
}
.progressbar div{
  width: 33.3%;
  height: 100%;
  background-color: red;
  border-radius: 0.5rem;
}
.sechead{
  color: crimson;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
  font-size: 2rem;
}
.para{
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 300;
  color: #AFC9DC;
  font-size: 1.5rem;
}
.header{
  color: blue;
  margin-left: 6rem;
  font-size: 2rem;
}
input{
  display: flex;
  align-items: center;
  margin: 1.5rem 6rem;
  width: 25rem;
  height: 4rem;
  border-radius: 0.5rem;
  border: none;
  box-shadow: 0.2rem 0.2rem 0.5rem 0.1rem;
  outline: none;
  padding: 2rem;
  font-size: 2rem;
}
.footer button{
  width: 10rem;
  height: 4rem;
  margin-left: 6rem;
  border-radius: 0.5rem;
  margin-top: 1rem;
  background-color: mediumseagreen;
  border: none;
  font-size: 2rem;
}
.footer button:hover{
  background-color: crimson;
  color: white;
}
@media(max-width: 1200px){
  html{
      font-size: 65%;
  }
}
@media(max-width: 992px){
  html{
      font-size: 50%;
  }
}
@media(max-width: 768px){
  html{
      font-size: 40%;
  }
}
@media(max-width: 600px){
  html{
      font-size: 30%;
  }
}
